//! **************************************************************************
// Written by: Map P.58f on Sun Nov 17 18:12:40 2013
//! **************************************************************************

SCHEMATIC START;
COMP "f" LOCATE = SITE "G1" LEVEL 1;
COMP "a" LOCATE = SITE "N3" LEVEL 1;
COMP "b" LOCATE = SITE "E2" LEVEL 1;
COMP "c" LOCATE = SITE "F3" LEVEL 1;
SCHEMATIC END;

