NET "clk" LOC=B8;    
NET "rst" LOC=A7;
NET "u500_in" LOC=M4;
NET "u1000_in" LOC=C11;
NET "debugstate<2>" LOC=G1;
NET "debugstate<1>" LOC=P4;
NET "debugstate<0>" LOC=N4;
NET "drop_out" LOC=M5;
NET "tick" LOC=C9;
