//! **************************************************************************
// Written by: Map P.58f on Mon Nov 25 22:27:32 2013
//! **************************************************************************

SCHEMATIC START;
COMP "dataOut<2>" LOCATE = SITE "B9" LEVEL 1;
COMP "dataOut<3>" LOCATE = SITE "A9" LEVEL 1;
COMP "dataOut<4>" LOCATE = SITE "B7" LEVEL 1;
COMP "dataOut<5>" LOCATE = SITE "C5" LEVEL 1;
COMP "En" LOCATE = SITE "C12" LEVEL 1;
COMP "dataOut<6>" LOCATE = SITE "B6" LEVEL 1;
COMP "dataOut<7>" LOCATE = SITE "C6" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "reset" LOCATE = SITE "A7" LEVEL 1;
COMP "dataOut<0>" LOCATE = SITE "C9" LEVEL 1;
COMP "Rs" LOCATE = SITE "A13" LEVEL 1;
COMP "dataOut<1>" LOCATE = SITE "A10" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

