//! **************************************************************************
// Written by: Map P.58f on Sun Nov 24 17:22:49 2013
//! **************************************************************************

SCHEMATIC START;
COMP "f" LOCATE = SITE "P4" LEVEL 1;
COMP "a" LOCATE = SITE "N3" LEVEL 1;
COMP "b" LOCATE = SITE "E2" LEVEL 1;
COMP "c" LOCATE = SITE "F3" LEVEL 1;
SCHEMATIC END;

