NET "clk"           	 LOC=B8;    

NET "debugstate<2>" 	 LOC=G1;
NET "debugstate<1>" 	 LOC=P4;
NET "debugstate<0>" 	 LOC=N4;


NET "rst" 				 LOC=P11;
NET "u500_in" 			 LOC=M4;
NET "u1000_in" 		 LOC=C11;
NET "batal_in" 		 LOC=A7; 
NET "proses_in" 		 LOC=G12; 


NET "drop_out" 		 LOC=M5;
NET "kembali500_out"  LOC=P6;
NET "kembali1000_out" LOC=P7;
NET "tick" 				 LOC=C9;