//! **************************************************************************
// Written by: Map P.20131013 on Fri Jul 17 13:21:41 2015
//! **************************************************************************

SCHEMATIC START;
COMP "clk_i" LOCATE = SITE "B8" LEVEL 1;
COMP "blinkout" LOCATE = SITE "C9" LEVEL 1;
NET "clk_i_BUFGP/IBUFG" BEL "clk_i_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

