//! **************************************************************************
// Written by: Map P.58f on Sun Nov 17 18:30:56 2013
//! **************************************************************************

SCHEMATIC START;
COMP "e" LOCATE = SITE "P12" LEVEL 1;
COMP "f" LOCATE = SITE "L13" LEVEL 1;
COMP "g" LOCATE = SITE "M12" LEVEL 1;
COMP "dot" LOCATE = SITE "N13" LEVEL 1;
COMP "enA" LOCATE = SITE "F12" LEVEL 1;
COMP "a" LOCATE = SITE "L14" LEVEL 1;
COMP "b" LOCATE = SITE "H12" LEVEL 1;
COMP "c" LOCATE = SITE "N14" LEVEL 1;
COMP "d" LOCATE = SITE "N11" LEVEL 1;
SCHEMATIC END;

